@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/scripts/Public/Public.min.js"></script>
</head>
<body style="margin: 0 ">
    <iframe src="http://wwwblogs.uicp.cn/Home/Index" id="external-frame" name="iframepage" frameBorder=0 scrolling=no width="100%" onLoad="setIframeHeight(this);"></iframe>
    <script>
        $(".nva .list li").on("click", function () {
            alert("1");
        });
    </script>
</body>
</html>
